.table {
  font-size: 14px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
  color: #ffffff;
}

a {
  text-decoration: none;
}




/* Style table headers */
th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: black;
  font-size: 20px;
}

/* Style table rows */
tr {
  background-color: #fff;
  border-bottom: 1px solid black;
}

/* Style alternate rows */
tr:nth-child(even) {
  background-color: #ECECEC;
  border-bottom: 1px solid black;
}

/* Style table data cells */
td {
  text-align: center;
  padding: 10px;

}

.table-container {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Style table border */
table {

  border-radius: 10px;
  /* border-radius: 10px ; */

  /* border-collapse: collapse; */
}

.table-border {
  border-radius: 20px;
  padding: 18px;
  background-image: url('../assets/table-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.search-form {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 30px;
  margin-bottom: 10px
}

.search-form form {
  display: inline-block;
}

.search-form input {
  border-radius: 50px;
  height: 35px;
  padding: 0 25px 0 10px;
  border: 1px solid #2faf4fab;
  background-image: url('../assets/search_icon.jpg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;

}

.search-form input:focus {
  outline: none;
  border-color: #4c7c2d;
}

.search-form button {
  display: none;
}



.table_wrapper table {

  background-color: #ffffff;
  margin: 0;
  border-radius: 4px;
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

.table_data {
  background-image: url('../assets/table-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20px;
  max-height: 300px; 
  overflow-y: auto;
}

/* test test  */