{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/add_student.css' %}">
    <link rel="stylesheet" href="{% static 'css/Website_Base.css' %}">
</head>

<nav class = "navbar">
    <a href = "{% url 'info' %}" class = "logo">FCAI-CU</a></h3>
    <div class="nav-links">
        <ul>
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href="{% url 'registration' %}">Add student</a></li>
            <li><a href="{% url 'departmentAssignment' %}">Assign Department</a></li>
            <li><a href="{% url 'updateData' %}">Update data</a></li>
            <li><a href="{% url 'studentsList' %}">Students List</a></li>

        </ul>
    </div>
    <img src="{% static 'assets/menu-btn.png' %}" alt="menu hamburger" class = "menu-btn">
</nav>

<body>

    <!--content of the page-->
    <section>
        <aside>
            <form class="student-data" method="POST">
                {% csrf_token %}
            <!--first name input-->
              <div class="input">
                  <label for="first">First Name:*<span id="first-error" class="error-msg hide">Invalid!</span></label>
                  <input type="text" id="first" class="input-box" name="first" placeholder="ex: Adham" required>
              </div>

            <!--last name input-->
              <div class="input">
                  <label for="last">Last Name:*<span id="last-error" class="error-msg  hide">Invalid!</span></label>
                  <input type="text" id="last" class="input-box" name="last" placeholder="ex: Tarek" required>
              </div>

            <!--gender input-->
              <div class="input">
                <label for="gender">Gender:*<span id="gender-error" class="error-msg  hide">Invalid!</span></label>
                  <select id="gender" class="input-box" name="gender" required>
                      <option disabled selected>Select..</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                  </select>
              </div >

            <!--date input-->
              <div class="input">
                  <label for="date">Date of Birth:*<span id="date-error"  class="error-msg  hide">Invalid!</span></label>
                  <input type="date" id="date" class="input-box" name="date" required>
              </div>

            <!--gpa input-->
              <div class="input">
                  <label for="gpa">GPA:*<span id="gpa-error"  class="error-msg hide">Invalid!</span></label>
                  <input type="text" id="gpa" class="input-box" name="gpa" placeholder="ex: 3.26" required>
              </div>

            <!--department input-->
              <div class="input">
                  <label for="department">Department:*<span id="department-error"  class="error-msg hide">Invalid!</span></label>
                  <select id="department" class="input-box" name="department" required>
                      <option disabled selected>Select..</option>
                      <option value="CS">CS</option>
                      <option value="AI">AI</option>
                      <option value="IS">IS</option>
                      <option value="IT">IT</option>
                      <option value="DS">DS</option>
                  </select>
              </div>

            <!--level input-->
              <div class="input">
                  <label for="level">Level:*<span id="level-error" class="error-msg hide">Invalid!</span></label>
                  <select id="level" class="input-box" name="level" required>
                      <option disabled selected>Select..</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                  </select>
              </div>

            <!--id input-->
              <div class="input">
                  <label for="id">ID:*<span id="id-error" class="error-msg hide">Invalid!</span></label>
                  <input type="text" id="id" class="input-box" name="id" placeholder="ex: 20210051" required>
              </div>

            <!--status input-->
              <div class="input">
                  <label for="status">Status:*<span id="status-error" class="error-msg  hide">Invalid!</span></label>
                  <select id="status" class="input-box" name="status" required>
                      <option disabled selected>Select..</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                  </select>
              </div>

            <!--phone number input-->
              <div class="input">
                  <label for="phone">Phone:*<span id="phone-error" class="error-msg  hide">Invalid!</span></label>
                  <input type="text" id="phone" class="input-box" name="phone" placeholder="ex: 01128604011" required>
              </div>

            <!--email input-->
              <div class="input">
                  <label for="email">Email:*<span id="email-error" class="error-msg email hide">Invalid!</span></label>
                  <input type="email" id="email" class="input-box" name="email" placeholder="ex: domatarek2003@gmail.com" required>
              </div>

            <!--submit button-->
              <div class="input submit">
                  <input type="submit">
              </div>
            </form>
        </aside>
    </section>
    <script>
        const menuBtn = document.querySelector('.menu-btn');
        const navLinks = document.querySelector('.nav-links');
        menuBtn.addEventListener('click', () => {
            navLinks.classList.toggle('mobile-menu');
        });
    </script>
    <script src="{% static 'js/add_student.js' %}"></script>
</body>
</html>
