{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/assign_department.css' %}">
    <link rel="stylesheet" href="{% static 'css/Website_Base.css' %}">
</head>

<nav class = "navbar">
    <a href = "{% url 'info' %}" class = "logo">FCAI-CU</a></h3>
    <div class="nav-links">
        <ul>
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href="{% url 'registration' %}">Add student</a></li>
            <li><a href="{% url 'departmentAssignment' %}">Assign Department</a></li>
            <li><a href="{% url 'updateData' %}">Update data</a></li>
            <li><a href="{% url 'studentsList' %}">Students List</a></li>

        </ul>
    </div>
    <img src="{% static 'assets/menu-btn.png' %}" alt="menu hamburger" class = "menu-btn">
</nav>

<body>
  <section>
    <aside>
      <div class="search">
        <form id = search-form>
          <label for="search"></label>
          <input id="search" type="search" name="id" placeholder="ex:20210069" formmethod="get" required>
          <input type="submit" formmethod="get" required>
        </form>
      </div>
      <div class="assign">
          <h3>Assign Department</h3>
        <form id = Assign method="post">
            {% csrf_token %}
            <div class="ID">
            <label for="id">ID:*</label>
            <br>
            <input type="text" id="id" name="id" placeholder="ex: 20210051"  required readonly>
            </div>
          <div class="dep">
            <label for="AssignDep">Department:*</label>
                <select id="AssignDep" name="department" required>
                <option disabled selected>Select..</option>
                <option value="General">General</option>
                <option value="CS">CS</option>
                <option value="AI">AI</option>
                <option value="IS">IS</option>
                <option value="IT">IT</option>
                <option value="DS">DS</option>
                </select>
            </div>
          <div class="in">
            <input type="submit" value="Assign">
        </div>
        </form>
           <button id="exit" class="X">X</button>
      </div>
      <div class="table-container">
        <div class="table-wrapper">
          <div class="table-border">
              <table border="2" style="width: 100%;">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>ID</th>
                  <th>Level</th>
                  <th>Department</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
      </div>
    </div>
  </div>
    </aside>
  </section>
</body>

<script>
    const menuBtn = document.querySelector('.menu-btn');
    const navLinks = document.querySelector('.nav-links');
    menuBtn.addEventListener('click', () => {
        navLinks.classList.toggle('mobile-menu');
    });
</script>

<script src="{% static 'js/assign_department.js' %}"></script>
</html>