{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
    <link rel="stylesheet" href="{% static 'css/Website_Base.css' %}">
</head>

<body>
    
<!--Name of the college on the left-->
<!--links to the other pages - (links' paths to other pages will be updated when finished) - their positions will be done in CSS-->
    <nav class = "navbar">
    <a href = "{% url 'info' %}" class = "logo">FCAI-CU</a></h3>
    <div class="nav-links">
        <ul>
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href="{% url 'registration' %}">Add student</a></li>
            <li><a href="{% url 'departmentAssignment' %}">Assign Department</a></li>
            <li><a href="{% url 'updateData' %}">Update data</a></li>
            <li><a href="{% url 'studentsList' %}">Students List</a></li>

        </ul>
    </div>
    <img src="{% static 'assets/menu-btn.png' %}" alt="menu hamburger" class = "menu-btn">
</nav>

<!-- content -->
    <div class="info">
        <!-- <img src="assets/info.png" class ="info-bg"> -->
        <!-- <aside> -->
            <h2 class = "title">THIS WEBSITE MADE BY</h2>
            <div class = "names">
                <p class="paragraph"> 
                    Ahmed Mohamed 20210033
                    <br>
                    Adham Tarek 20210051
                    <br>
                    Ismail Magdy 20210069
                    <br>
                    Youssef Alaa 20210478
                    <br>
                    Malik Khaled 20210320
                    <br>
                    Ammar Ayman 20210253
                </p>
            </div>
        <!-- </aside> -->
    </div>
</body>

    <script>
        const menuBtn = document.querySelector('.menu-btn');
        const navLinks = document.querySelector('.nav-links');
        menuBtn.addEventListener('click', () => {
            navLinks.classList.toggle('mobile-menu');
        });
    </script>
</html>
