{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/main_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/Website_Base.css' %}">
</head>
<nav class = "navbar">
    <a href = "{% url 'info' %}" class = "logo">FCAI-CU</a></h3>
    <div class="nav-links">
        <ul>
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href="{% url 'registration' %}">Add student</a></li>
            <li><a href="{% url 'departmentAssignment' %}">Assign Department</a></li>
            <li><a href="{% url 'updateData' %}">Update data</a></li>
            <li><a href="{% url 'studentsList' %}">Students List</a></li>

        </ul>
    </div>
    <img src="{% static 'assets/menu-btn.png' %}" alt="menu hamburger" class = "menu-btn">
</nav>
<body>

<!--content of the main menu-->
<section>
    <aside>
        <p>
            <span class="above-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FCAI-CU
            <br>
            &nbsp;Students Affairs
            </span>

            <br>
            <span class="below-text">
            &nbsp;&nbsp;this is the official site
            <br>
            &nbsp;&nbsp;for FCAI-CU students affairs
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href ="{% url 'registration' %}" class="next-link">next</a> <span class="right-arrow">&#8594;</span>
            </span>

        </p>

    </aside>



</section>
</body>
<script>
    const menuBtn = document.querySelector('.menu-btn');
    const navLinks = document.querySelector('.nav-links');
    menuBtn.addEventListener('click', () => {
        navLinks.classList.toggle('mobile-menu');
    });
</script>
</html>