<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_list</title>
    <link rel="stylesheet" href="../Web_Project/static/css/Student_list.css">
    <link rel="stylesheet" href="../Web_Project/static/css/Website_Base.css">

</head>

<nav class="navbar">
    <a href="info.html" class="logo">FCAI-CU</a></h3>
    <div class="nav-links">
        <ul>
            <li><a href="main_menu.html">Home</a></li>
            <li><a href="add_student.html">Add student</a></li>
            <li><a href="assign_department.html">Assign Department</a></li>
            <li><a href="Update.html">Update data</a></li>
            <li style="opacity:0.8;"><a href="Student_list.html">Students List</a></li>

        </ul>
    </div>
    <img src="../Web_Project/static/assets/menu-btn.png" alt="menu hamburger" class="menu-btn">
    
</nav>

<body>
    <!-- <header>
       
        <h3><a href="info.html">FCAI-CU</a></h3>

       
        <div class="nav">
            <ul>
                <li><a href="main_menu.html">Home</a></li>
                <li><a href="add_student.html">Add student</a></li>
                <li><a href="assign_department.html">Assign Department</a></li>
                <li><a href="Update.html">Update data</a></li>
                <li><a href="Student_list.html">Students List</a></li>
            </ul>
        </div>
    </header> -->
    <div class="table">
        <header class="header">

        </header>
        <section>
            <br>
            <div class="table-container">
                
                <label for="table_design"></label>
                <div class="table_wrapper">
                    <div class="table-border">
                        <div class="search-form">
                            <form>
                                <label for="Search"></label>
                                <input type="search" id="Search" name="search" placeholder="Search" required>
                            </form>
                        </div>
                        <!-- <img src="assets/table-bg.png" alt="wtf" class="table-border" > -->
                        <div class="table_data">
                            <table id="table_design">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>ID</th>
                                        <th>Level</th>
                                        <th>Department</th>
                                        <th>GPA</th>
                                        <th>Phone Number</th>
                                        <th>Gender</th>
                                        <th>Date of Birth</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Ahmed Mohamed</td>
                                        <td>20210033</td>
                                        <td>3</td>
                                        <td>CS</td>
                                        <td>4</td>
                                        <td>01120293048</td>
                                        <td>Male</td>
                                        <td>2003/9/28</td>
                                        <td>Ahmed.Mohamed@gamil.com</td>
                                        <td>active</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Adham Tarek</td>
                                        <td>20210478</td>
                                        <td>1</td>
                                        <td>General</td>
                                        <td>1.65</td>
                                        <td>01128604011</td>
                                        <td>Male</td>
                                        <td>2003/5/22</td>
                                        <td>Adham.Tarek@gamil.com</td>
                                        <td>active</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Ismail Magdy</td>
                                        <td>20210069</td>
                                        <td>4</td>
                                        <td>AI</td>
                                        <td>3.99</td>
                                        <td>01006474764</td>
                                        <td>Male</td>
                                        <td>2003/2/06</td>
                                        <td>Ismail.Magdy@gamil.com</td>
                                        <td>inactive</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Ammar Ayman</td>
                                        <td>20210253</td>
                                        <td>3</td>
                                        <td>IS</td>
                                        <td>2.7</td>
                                        <td>01143966106</td>
                                        <td>Male</td>
                                        <td>2003/11/14</td>
                                        <td>Ammar.Ayman@gamil.com</td>
                                        <td>inactive</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Malek Khaled</td>
                                        <td>20210320</td>
                                        <td>3</td>
                                        <td>AI</td>
                                        <td>3.76</td>
                                        <td>01129638354</td>
                                        <td>Male</td>
                                        <td>2003/3/09</td>
                                        <td>Malek.Khaled@gamil.com</td>
                                        <td>active</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Yousef Alaa</td>
                                        <td>20210478</td>
                                        <td>3</td>
                                        <td>IT</td>
                                        <td>3.66</td>
                                        <td>01006474764</td>
                                        <td>Male</td>
                                        <td>2003/6/02</td>
                                        <td>Yousef.Alaa@gamil.com</td>
                                        <td>inactive</td>
                                    </tr>
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>

<script>
    const menuBtn = document.querySelector('.menu-btn');
    const navLinks = document.querySelector('.nav-links');
    menuBtn.addEventListener('click', () => {
        navLinks.classList.toggle('mobile-menu');
    });
</script>

</html>