{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/Student_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/Website_Base.css' %}">
</head>

<nav class = "navbar">
    <a href = "{% url 'info' %}" class = "logo">FCAI-CU</a></h3>
    <div class="nav-links">
        <ul>
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href="{% url 'registration' %}">Add student</a></li>
            <li><a href="{% url 'departmentAssignment' %}">Assign Department</a></li>
            <li><a href="{% url 'updateData' %}">Update data</a></li>
            <li><a href="{% url 'studentsList' %}">Students List</a></li>

        </ul>
    </div>
    <img src="{% static 'assets/menu-btn.png' %}" alt="menu hamburger" class = "menu-btn">
</nav>

<body>
    <!-- <header>
       
        <h3><a href="info.html">FCAI-CU</a></h3>

       
        <div class="nav">
            <ul>
                <li><a href="main_menu.html">Home</a></li>
                <li><a href="add_student.html">Add student</a></li>
                <li><a href="assign_department.html">Assign Department</a></li>
                <li><a href="Update.html">Update data</a></li>
                <li><a href="Student_list.html">Students List</a></li>
            </ul>
        </div>
    </header> -->
    <div class="table">
        <header class="header">

        </header>
        <section>
            <br>
            <div class="table-container">
                
                <label for="table_design"></label>
                <div class="table_wrapper">
                    <div class="table-border">
                        <div class="search-form">
                            <form>
                                <label for="Search"></label>
                                <input type="search" id="Search" name="search" placeholder="Search" required>
                            </form>
                        </div>
                        <!-- <img src="assets/table-bg.png" alt="wtf" class="table-border" > -->
                        <div class="table_data">
                            <table id="table_design">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>ID</th>
                                        <th>Level</th>
                                        <th>Department</th>
                                        <th>GPA</th>
                                        <th>Phone Number</th>
                                        <th>Gender</th>
                                        <th>Date of Birth</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>

<script>
    const menuBtn = document.querySelector('.menu-btn');
    const navLinks = document.querySelector('.nav-links');
    menuBtn.addEventListener('click', () => {
        navLinks.classList.toggle('mobile-menu');
    });
</script>
<script src="{% static 'js/Student_list.js' %}"></script>

</html>