{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/Update.css' %}">
    <link rel="stylesheet" href="{% static 'css/Website_Base.css' %}">
</head>
<nav class = "navbar">
    <a href = "{% url 'info' %}" class = "logo">FCAI-CU</a></h3>
    <div class="nav-links">
        <ul>
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href="{% url 'registration' %}">Add student</a></li>
            <li><a href="{% url 'departmentAssignment' %}">Assign Department</a></li>
            <li><a href="{% url 'updateData' %}">Update data</a></li>
            <li><a href="{% url 'studentsList' %}">Students List</a></li>

        </ul>
    </div>
    <img src="{% static 'assets/menu-btn.png' %}" alt="menu hamburger" class = "menu-btn">
</nav>


<body>
<hr>
<section>
    <!-- search bar and list of students -->
    <div class="search-form">
        <form >
            <label for="Search"></label>
            <input type="text" id="Search" name="search" placeholder="Search.." required autocomplete="off">
        </form>
    </div>
    <div class="tbl">
        <table class="table_data" id="TABLE">
            <thead>
            <tr>
                <th class="num">#</th>
                <th class="name">Name</th>
                <th class="iD">ID</th>
                <th class="st">Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
<div class="student_info">
    <label for="exit">
        <button id="exit">X</button>
    </label>
    <form class="data">
        <!-- I made const value right now but the value will be the student's data who we selected -->
        <!--first name input-->
        <div class="fn">
            <label for="first">First Name:*<span id="first-error" class="error-msg hide">Invalid!</span></label>
            <br>
            <input type="text" id="first" name="first" placeholder="Firstname" required>
        </div>
        <br>
        <br>
        <!--last name input-->
        <div class="ln">
            <label for="last">Last Name:*<span id="last-error" class="error-msg  hide">Invalid!</span></label>
            <br>
            <input type="text" id="last" name="last" placeholder="Lastname" required>
        </div>
        <br>
        <br>

        <!--gender input-->
        <div class="g">
            <label for="gender">Gender:*<span id="gender-error" class="error-msg  hide">Invalid!</span></label>
            <br>
            <select id="gender" name="gender" required>
                <option disabled selected>Select..</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <br>
        <br>

        <!--date input-->
        <div class="dof">
            <label for="date">Date of Birth:*<span id="date-error"  class="error-msg  hide">Invalid!</span></label>
            <br>
            <input type="date" id="date" name="date" required>
        </div>
        <br>
        <br>

        <!--gpa input-->
        <div class="GPA">
            <label for="gpa">GPA:*<span id="gpa-error" class="error-msg hide">Invalid!</span></label>
            <br>
            <input type="text" id="gpa" name="gpa" placeholder="GPA"  required>
        </div>
        <br>
        <br>

        <!--department input-->
        <div class="dep">
            <label for="department">Department:*<span id="department-error"  class="error-msg hide">Invalid!</span></label>
            <br>
            <select id="department" name="department" required>
                <option disabled selected>Select..</option>
                <option value="CS">CS</option>
                <option value="AI">AI</option>
                <option value="IS">IS</option>
                <option value="IT">IT</option>
                <option value="DS">DS</option>
            </select>
        </div>
        <br>
        <br>

        <!--level input-->
        <div class="lev">
            <label for="level">Level:*<span id="level-error" class="error-msg hide">Invalid!</span></label>
            <br>
            <select id="level" name="level" required>
                <option disabled selected>Select..</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <br>
        <br>

        <!--id input-->
        <div class="ID">
            <label for="id">ID:*<span id="id-error" class="error-msg hide">Invalid!</span></label>
            <br>
            <input type="text" id="id" name="id" placeholder="ex: 20210051"  required>
        </div>
        <br>
        <br>

        <!--phone number input-->
        <div class="PH">
            <label for="phone">Phone Number:*<span id="phone-error" class="error-msg  hide">Invalid!</span></label>
            <br>
            <input type="text" id="phone" name="phone" placeholder="ex: 01128604011" required>
        </div>
        <br>
        <br>

        <!--email input-->
        <div class="eml">
            <label for="email">Email:*<span id="email-error" class="error-msg email hide">Invalid!</span></label>
            <br>
            <input type="email" id="email" name="email" placeholder="ex: domatarek2003@gmail.com" required>
        </div>
        <br>
        <br>

        <!--status input-->
        <div class="SS">
            <label for="status">Status*<span id="status-error" class="error-msg  hide">Invalid!</span></label>
            <br>
            <select id="status" name="status" required>
                <option disabled selected>Select..</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>
        <br>
        <br>
        <!--submit button-->
        <div class="in">
            <input type="submit" value="Update">
        </div>
        <!-- delete button this is reset don't delete the student just clear the form -->
        <div class="del">
            <input type="reset" value="Delete">
        </div>
    </form>
</div>
</body><script>
    const menuBtn = document.querySelector('.menu-btn');
    const navLinks = document.querySelector('.nav-links');
    menuBtn.addEventListener('click', () => {
        navLinks.classList.toggle('mobile-menu');
    });
</script>

<script src="{% static 'js/Update.js' %}"></script>

</html>